[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lazytrade"]
	path = lazytrade
	url = https://github.com/vzhomeexperiments/lazytrade
	shallow = true
	registered = true
